<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update emp</title>
</head>
<body>
<form th:action="@{/employee}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="id" th:value="${emp.id}">
    lastname: <input type="text" name="lastname" th:value="${emp.lastname}"><br>
    email: <input type="text" name="email" th:value="${emp.email}"><br>
    gender: <input type="radio" name="gender" value="1" th:field="${emp.gender}">男
    <input type="radio" name="gender" value="0" th:field="${emp.gender}">女<br>
    <input type="submit" value="Update">
</form>

</body>
</html>